body{
    margin: 0%;
}

.logo{
    display: flex;
    margin-left: 290px;
    margin-top: 13px;
}
.menu{
    display: flex;
    background-color:#941611;
    align-items: center;
    height: 51px;
}
span{
    color: #ffffff;
    margin-left: 200px;
    font-size: 8;
}
.home{
    margin-left: 200px;
}
.margin{
    margin-left: 15px;
    margin-right: 15px;
}
.home{
    margin-left: 290px;
    margin-right: 15px;
}